.cart {
    /* border: 1px solid #ccc; */
    padding: 15px;
    max-width: 400px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

  }
  
  .cart-image {
    width: 50px;
    height: 75px;
    margin-right: 10px;
  }
  .cart-name{
    padding-right: 10px;
  }